body
{
    text-align: left;
}
#ttr_sidebar
{
    border-left: 1px solid black;
}
#ttr_footer
{
    width: 100%;
    border-top: 1px lavender solid;
    text-align: center;
}
.title
{
    font-size: 11pt;
    font-family: verdana;
    font-weight: bold;
}
a:hover {
    background-color: yellow;
}